scrapper/.ipynb_checkpoints
modele/.ipynb_checkpoints
modele/*/.ipynb_checkpoints
.ipynb_checkpoints
modele/Aargan/ressources
modele/Aargan/ressources/*
files/Company_folder_files_clean
files/Company_folder_files_clean/*
schema.odp
files/Company_folder_files_clean.zip
modele/Aargan/resultat/cgu_figaro_full.txt
modele/Chanez/GloVe-master/CGU_FR.txt
modele/Chanez/GloVe-master/cooccurrence.bin
modele/Chanez/GloVe-master/cooccurrence.shuf.bin
modele/Chanez/GloVe-master/demo2.sh
modele/Chanez/GloVe-master/top_word.txt
modele/Chanez/GloVe-master/vectors.bin
modele/Aargan/resultat/CGU_EN.txt
modele/Aargan/resultat/CGU_FR.txt
modele/Aargan/resultat/top_word.txt
modele/Aargan/resultat/top_word_en.txt
modele/Chanez/GloVe-master/CGU_EN.txt
modele/Chanez/GloVe-master/top_word_en.txt
modele/Chanez/GloVe-master/vectors_2.txt
modele/Chanez/GloVe-master/vectors_en.bin
modele/Chanez/GloVe-master/vectors_en.txt
files/top_word_en.txt
files/vectors.txt
files/vectors_2.txt
files/vectors_en.txt


